.bgimage {
  background-color: #e0d4b3;
  background-image: url('/static/images/religion.png');
  background-size: 39%;
  background-position-y: 20em;
  position: absolute;
  opacity: 0.15;
  width: 100%;
}

#project_title {
  font-family: 'Redressed', cursive;
}

article {
  display: flex;
  flex-direction: column;
}

.saju_explanation {
  background-color: wheat;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.double-space {
  line-height: 1.5;
}

.sajuform{
  display:none;
  background-color: wheat;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
}