<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/saju.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
  <title>Digital Divination</title>
  <script src="/static/js/backgroundSize.js"></script>
</head>

<body>
  <img class="bgimage" id="bgimageid" src="../static/images/null.png" alt="">
  <nav class="navbar navbar-expand-lg navbar-dark mb-5" style="background-color:rgb(174, 46, 46); height: 45px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RLST121</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Tests
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/mbti">MBTI</a></li>
              <li><a class="dropdown-item" href="/facereader">Face Reader 관상</a></li>
              <li><a class="dropdown-item active" href="/sajupalja" style="background-color:rgb(174, 46, 46);">SajuPalja
                  사주팔자</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary">Summary</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container text-center" id="project_title">
    <h1>SajuPalja Test</h1>
    <hr>
  </div>
  <div class="container" style="position: relative;">
    <article class="mt-4 text-center saju_explanation start">
      <h4 class="mt-5 mb-3" style="font-weight: bold;">What is Saju Palja?</h4>
      <h5 class=" double-space">
        As mentioned in class, Saju Palja 사주팔자, also known as "The Four Pillars of Destiny," or "Ba-Zi" in Chinese,
        means the four pillars (saju) and eight characters (palja). According to the saju palja concept, a person's
        destiny or fate can be divined by the two sexagenary cycle characters assigned to their birth year, month, day,
        and hour. A person's birth year, month, date and time represent each of the four pillars, and each pillar is
        made up of two characters. One character represents the "heavenly stem" and another represents the "earthly
        branch." The eight characters add up to render palja that determines fate. </h5>
      <h5 class=" double-space"> It is relatively common to see people learning the concept of Fatalism with 8
        characters in Korea. These days, computers and information technologies are generally used to analyze the
        fortune of clients by the scientific methodology of statistics. Several popular fortune tellers are relying on
        YouTube podcast by making an unsolicited analysis of some politicians, businessmen and entertainers. </h5>
      <h5 class=" double-space"> The concept of Saju is quite complicated and I don't fully understand it. I think it is
        so complex because of the vast number of palja combinations. There is a pool of 60 characters, "yukgap," from
        which the palja characters are drawn. Each character has a yin or yang energy, and is categorized under the five
        primary elements of fire, earth, water, wood and metal (음양오행설). There may be overlapping elements in palja,
        which may strengthen or weaken certain characteristics in a person's disposition. Palja that has balanced energy
        is considered good saju. <a href="http://www.koreaherald.com/view.php?ud=20190117000269">Source1, </a> <a
          href="http://www.koreaherald.com/view.php?ud=20190117000269">Source1</a></h5>
      <h4 class="mt-5 mb-3" style="font-weight: bold;">Please Read Before Testing:</h4>
      <h5 class=" double-space">
        I used an open-source online Korean saju database, so the results will displayed in Korean. Please use <a href="https://translate.google.com/">Google Translate</a> for other languages :') <3! I crawled saju data for years: 1997-2004. If you want to see other years, please let me know. Thank you!</h5>
      <div class="mb-5 mt-5 row">
        <section class="col-4"></section>
        <button type="button" class="btn btn-light col-4"
          style="font-size: larger; font-weight: bold; border: 2px solid black; background-color: rgb(174, 46, 46); color: white;"
          onclick="start();">CLICK HERE TO START TEST</button>
      </div>
    </article>
    <article class="sajuform mt-4">
      <form action="calc" method="post">
        <div class="mt-5 row">
          <div class="col-3">
          </div>
          <div class="col-2 my-auto">
            <h5 class="mx-auto my-auto text-center">Name: </h5>
          </div>
          <div class="col-3 my-auto" style="padding: 0;">
            <input type="text" name="name_input" style="width: 100%;" value="Name">
          </div>
        </div>
        <div class="mt-2 row">
          <div class="col-3">
          </div>
          <div class="col-2 my-auto">
            <h5 class="mx-auto my-auto text-center">Sex Assigned <br>at Birth: </h5>
          </div>
          <div class="col-1 my-auto" style="padding: 0;">
            <span>
              <input type="radio" name="sex_input" id="sex_m" value="Male" checked> <label for="sex_m">Male</label>
            </span>
          </div>
          <div class="col-1 my-auto" style="padding: 0;">
            <span>
              <input type="radio" name="sex_input" id="sex_f" value="Female"> <label for="sex_f">Female</label>
            </span>
          </div>
        </div>
        <div class="mt-2 row">
          <div class="col-3">
          </div>
          <div class="col-2 my-auto">
            <h5 class="mx-auto my-auto text-center">Date of birth: </h5>
          </div>
          <div class="col-1 my-auto" style="padding: 0;">
            <select class="form-select" aria-label="Default select example" name="year_input" id="byear" value="1999">
            </select>
          </div>
          <div class="col-1" style="padding: 0;">
            <select class="form-select" aria-label="Default select example" name="month_input" id="bmonth" value="03">
            </select>
          </div>
          <div class="col-1" style="padding: 0;">
            <select class="form-select" aria-label="Default select example" name="day_input" id="bday" value="20">
            </select>
          </div>
        </div>
        <div class="mt-2 mb-5 row">
          <div class="col-3">
          </div>
          <div class="col-2 my-auto">
            <h5 class="mx-auto my-auto text-center">Hour of birth: </h5>
          </div>
          <div class="col-3 my-auto" style="padding: 0;">
            <select class="form-select" aria-label="Default select example" name="hour_input" id="bhour">
              <option value="I'm not sure">I'm not sure</option>
              <option value="子 (23:30 ~ 01:29)">子 (23:30 ~ 01:29)</option>
              <option value="丑 (01:30 ~ 03:29)">丑 (01:30 ~ 03:29)</option>
              <option value="寅 (03:30 ~ 05:29)">寅 (03:30 ~ 05:29)</option>
              <option value="卯 (05:30 ~ 07:29)">卯 (05:30 ~ 07:29)</option>
              <option value="辰 (07:30 ~ 09:29)">辰 (07:30 ~ 09:29)</option>
              <option value="巳 (09:30 ~ 11:29)">巳 (09:30 ~ 11:29)</option>
              <option value="午 (11:30 ~ 13:29)">午 (11:30 ~ 13:29)</option>
              <option value="未 (13:30 ~ 15:29)">未 (13:30 ~ 15:29)</option>
              <option value="申 (15:30 ~ 17:29)">申 (15:30 ~ 17:29)</option>
              <option value="酉 (17:30 ~ 19:29)">酉 (17:30 ~ 19:29)</option>
              <option value="戌 (19:30 ~ 21:29)">戌 (19:30 ~ 21:29)</option>
              <option value="亥 (21:30 ~ 23:29)">亥 (21:30 ~ 23:29)</option>
            </select>
          </div>
        </div>
        <div class="mt-2 mb-5 row">
          <div class="col-5">
          </div>
          <div class="col-3 my-auto" style="padding: 0;">
            <input type="submit" value="Submit" id="calc" class="mx-auto"
              style="width: 100%; font-size: larger; border:2px solid black; background-color: rgb(174, 46, 46); color: white;">
          </div>
        </div>
      </form>
    </article>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/saju.js"></script>
</body>

</html>